@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    background: url('https://images.rawpixel.com/image_social_landscape/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L2ZsNDQzNDE2ODYxNTUtaW1hZ2Uta3R4cmF6M20uanBn.jpg') no-repeat center center fixed; 
    /* background: rgb(21, 142, 142); */
    background-size: cover;
    color: white;
    text-align: center;
}
.blur-bg {
    display: block;
    justify-items: center;
    width: 80%;
    position: fixed;
    margin: 10%;
    /* padding: 10%; */
    box-shadow: white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}
.header {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    background: #6d6c87;
    padding: 20px;
    font-size: 3.5em;
    font-weight: bold;
    color: white;
}
.progress-container {
    width: 80%;
    height: 30px;
    margin-top: 5%;
    left: 10%;
    background: #6ce5e8;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: start;
}
.progress-bar {
    z-index: 1;
    height: 100%;
    width: 0;
    background: #41b8d5;
    transition: width 0.3s;
}
#progress-text {
    z-index: 1;
    gap: 0;
    margin: 1em 0;
    position: absolute;
    margin-top: 5%;
    right: 3%;
    font-size: 1.5em;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
}
.weeks-container {
    overflow-x: auto;
    white-space: nowrap;
    height: 75%;
    scrollbar-width: none;
    margin: 3%;
    border-radius: 10px;
}
.weeks {
    display: flex;
    width: fit-content;
    padding-left: 0;
    gap: 50px;
}
.week {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    width: 280px;
    max-height: 450px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    display: inline-block;
}
.week::-webkit-scrollbar {
    display: none;
}
.columna-titulo {
    top: 0;
    position: sticky;
    z-index: 1;
}
.columna-titulo-nombre {
    background-color: gold;
    color: black;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 25px 0;
    margin: 0;
    max-width: 266px;
    outline: none;
    cursor: pointer;
    display: block;
    width: 100%;
}
.columna-dato-nombre {
    width: 80%;
    padding: 10px;
    background: none;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    border: none;
    color: black;
    text-align: left;
    font-size: 16px;
}
 .columna-dato input:focus::placeholder {
    color: transparent;
 }
 .columna-check input {
    appearance: none;
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 0;
 }
 .columna-check .columna-verificacion {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 4px;
    position: relative;
    background-color: white;
 }
 .columna-check input:checked + .columna-verificacion::after{
    content: '✔';
    font-size: 16px;
    font-weight: bold;
    color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
 }
 td {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 720px) {
    .week {/* 
        display: flex;
        position: fixed;
        top: 50%;
         */
    }
}